@import url('https://fonts.googleapis.com/css?family=Roboto');
body{
    margin:0;
    text-align: center;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
nav{
    width:100%;
    height:100px;
    box-shadow: 10px 9px 55px -16px rgba(0, 0, 0, 0.205);
}
.navbar{
    margin: 0 auto;
    padding: 0;
    max-width: 1500px;
    overflow: hidden;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.navbar button{
    height: 40px;
    width:20%;
    background: transparent;
    border: 2px solid rgb(40, 255, 105);
    border-radius: 2vw;
    display: block;
}
.navbar .active{
    border: 2px solid rgb(255, 0, 157);

}
nav img{
    height: 100px;
}
.giphyHere {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10px;
    grid-auto-flow: unset;
    list-style: none;
    margin: 1em auto;
    padding-top:50px;
    max-width: 800px;

}
.giphyHere li {
    border: 1px solid #ccc;
}

.giphyHere li img {
   display: block;
   object-fit: cover;
   width: 100%;
   height: 100%;
   transition: transform 0.3s;
   cursor: pointer;
}
.showMore{
    height: 50px;
    max-width: 830px;
    width: 100%;
    background: transparent;
    border: 2px solid rgb(40, 255, 105);
    border-radius: 20;
    margin:20px 0px 20px 50px;
    cursor: pointer;
    transition: transform 0.2s;
}

.showMore:hover{
    transform: scale(1.12);
    border: 2px solid rgba(0, 255, 76, 0.5);
    
}
.giphyHere li img:hover {
    transform: scale(1.05)
}

.showPic{
    background-color: hsla(0, 0%, 0%, 0.767);
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 1;
    width:100%;
    height: 100%;
}
.showPic img{
    padding-top:10vh;
    width:50vmax;
}