@import url('https://fonts.googleapis.com/css?family=Roboto');
body{
    margin:0;
    padding: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

/* NAVBAR */
nav{
    position: relative;
    box-sizing: content-box;
    width:100%;
    box-shadow: 10px 9px 55px -16px rgba(0, 0, 0, 0.205);
}
.navbar{
    margin: 0 auto;
    padding: 15px;
    max-width: 1500px;
    overflow: hidden;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.navbar button{
    height: 40px;
    width:20%;
    background: transparent;
    border: 2px solid rgb(40, 255, 105);
    border-radius: 20px;
    display: block;
    font-size: 1rem;
    cursor: pointer;
}
.navbar .active{
    border: 2px solid rgb(255, 0, 157);
}
nav h1{
    padding: 10px 0 0 0;
    margin:0;
}

.searchInput{
    display:flex;
    flex-direction: row;
}

.searchInput button{
    border-radius: 0 20px 20px 0;
    width: 100px;
    height: 40px;
    border-left: none;
    cursor: pointer;

}
.searchInput input{
    border-radius: 20px 0 0 20px;
    border: 2px solid rgb(40, 255, 105);
    border-right: none;
    padding-left: 10px;
    width: 100%;
}

.navbar > *{
    transition: transform 0.3s, box-shadow 0.3s;
    margin: 5px;
}
.navbar > *:hover{
    transform:scale(1.1);
    box-shadow: 3px 9px 22px -15px rgba(0,0,0,0.75);
}


/* MAIN UL */
.giphyHere {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
    grid-auto-flow: unset;
    list-style: none;
    margin: 1em auto;
    max-width: 1200px;
    padding: 0;
}
.giphyHere li {
    border: 1px solid #ccc;
}

.giphyHere li img {
   display: block;
   object-fit: cover;
   width: 100%;
   height: 100%;
   transition: transform 0.3s;
   cursor: pointer;
}
.giphyHere li img:hover {
    transform: scale(1.05)
}

/* SHOW MORE BTN */
.showMore{
    height: 50px;
    max-width: 830px;
    width: 80%;
    background: transparent;
    border: 2px solid rgb(40, 255, 105);
    border-radius: 20px;
    font-size: 1.3rem;
    margin:20px 0 50px 0;
    cursor: pointer;
    transition: transform 0.2s;
}
.showMore:hover{
    transform: scale(1.12);
    border: 2px solid rgba(0, 255, 76, 0.5);
    
}

/* SHOW BIGGER PIC */
.showPic{
    background-color: hsla(0, 0%, 0%, 0.767);
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 1;
    width:100%;
    height: 100%;
}
.showPic img{
    width:50vmax;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* RANDOM IMAGE */
.randomImg{
    padding-top:3%;
    width:70vmax;
    max-width: 100vmin;
}

/* MEDIA QUERIES */

@media (max-width: 550px){
    .navbar{
        flex-direction: column;
    }
    .navbar button{
        height: 40px;
        width:80vw;
    }
    .searchInput button{
        border-radius: 0 20px 20px 0;
        width: 30vw;
        min-width: 70px;
    }
    .searchInput #input{
        border-radius: 20px 0 0 20px;
        width: 50vw;
    }
}